.porgress_sec {
    padding: 40px 0;
}

.progress_ul {
    padding-left: 0;
    text-align: center;
}

.progress_ul li {
    list-style-type: none;
    text-align: center;
    display: inline-block;
    width: 20%;
    font-size: var(--heading-h6);
    color: var(--text-light-color);
}

.progress_ul li.active {
    color: var(--text-dark-color);
}

.progress_ul li:after {
    position: absolute;
    width: 13.5%;
    margin-top: -2.1rem;
    margin-left: 1.25rem;
    background-color: var(--border-color);
    content: "";
    display: inline-block;
    height: 3px;
    vertical-align: middle;
}

.progress_ul li.active:after {
    position: absolute;
    width: 13.5%;
    margin-top: -2.1rem;
    margin-left: 1.25rem;
    background-color: var(--main-color);
    content: "";
    display: inline-block;
    height: 3px;
    vertical-align: middle;
}
.progress_ul li:lang(ar):after{
    margin-right: 1.2rem;
    margin-left: auto;
    width: 13%;
}
.progress_ul li:last-child:after {
    display: none;
}

.progress_path {
    margin-top: 10px;
}

.progress_path img {
    width: 40px;
    border-radius: 50%;
    padding: 6px;
    border: 2px solid var(--border-color);
}

.progress_path.active img {
    border: none;
    padding: 8px;
    background: var(--main-color);
}

.breadcrumb {
    padding-top: 2rem;
}

.cate_head {
    text-align: center;
}

.cate_head span {
    margin: 0 10px;
    font-size: var(--heading-h6);
    font-weight: 500;
    color: var(--main-dark-color);
}

.cate_head a {
    margin: 0 10px;
    font-size: var(--heading-h6);
    font-weight: 500;
    color: var(--main-dark-color);
}
.cate_head img:lang(ar){
    transform: rotate(180deg);
}
.sec_link {
    color: var(--main-color) !important;
    text-decoration: underline !important;
}

.form-group {
    margin-bottom: 20px;
}

.ques_field {
    height: auto !important;
    border: 2px solid var(--border-color);
    font-size: var(--para-size);
    width: 100%;
    background: var(--white-color);
    border-radius: 6px;
}

::placeholder {
    font-size: var(--para-size);
    color: var(--text-light-color) !important;
}

.form-select:focus {
    box-shadow: none;
}

.body_fie {
    font-size: var(--heading-h6);
    font-weight: 500;
    color: var(--text-light-color);
    margin-bottom: 10px;
}

.mat-mdc-form-field {
    width: 100% !important;
}

.text_field {
    height: 45px;
    border: 2px solid var(--border-color);
    font-size: var(--para-size);
    width: 100%;
    border-radius: 6px;
}

::placeholder {
    font-size: var(--para-size);
    color: var(--text-light-color) !important;
}

.example-form mat-slide-toggle {
    margin: 15px 0;
    display: block;
}
.next_btn {
    border: 1px solid var(--main-color);
    padding: 10px 20px;
    color: var(--main-color);
    font-size: var(--para-size);
    font-weight: 500;
    background: var(--white-color);
    border-radius: 6px;
    margin-top: 20px;
    transition: transform .2s;
}

.next_btn:hover {
    transform: scale(1.1);
}
.nex_btnp{
    text-align: end;
}
.nex_btnp:lang(ar){
    text-align: left;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .porgress_sec {
        padding: 20px 0 40px 0;
    }

    .progress_ul li {
        font-size: var(--small-size);
    }

    .progress_ul li:after {
        width: 9%;
    }
    .progress_ul li:lang(ar):after{
        width: 8.8%;
    }
    .progress_ul li.active:after {
        width: 9%;
        margin-left: 1.15rem;
    }

    .breadcrumb {
        padding-top: 0;
    }

    .cate_head a {
        font-size: var(--para-size);
    }

    .next_btn {
        margin-top: 10px;
    }  .progress_ul:lang(ar){
        padding-right: 0;
        padding-left:0 auto;
    }}