<section class="company_form_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h6 class="otp_head">{{"TermsWord" | translate}}</h6>
                <div class="term_box_sec">
                    <div class="content_sec">
                        <ul>
                            <li>{{"firstPoint" | translate}}</li>
                            <li>{{"secondPoint" | translate}}</li>
                            <li>{{"thirdPoint" | translate}}</li>
                            <li>{{"fourthPoint" | translate}}</li>
                            <li>{{"fifthPoint" | translate}}</li>
                            <li>{{"sixthPoint" | translate}}</li>
                        </ul>
                    </div>
                    <a routerLink="/post-ad-motor/{{params}}/{{subParams}}/{{subSubParams}}/description"><button
                            class="proced_btn">{{"Accept" | translate}}</button></a>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>