.company_form_sec{
    margin: 5rem 0;
}
.otp_head{
    font-size: var(--heading-h6);
    font-weight: 600;
    color: var(--text-dark-color);
    text-align: center;
    margin: 10px 0 20px 0;
}
.term_box_sec{
    background: #F5F5F5;
    padding: 30px;
    box-shadow: 0px 3px 6px #00000029;
}

.content_sec{
    border-bottom: 1px solid var(--border-color);
}
.content_sec ul li{
    font-size: var(--para-size);
    color: var(--text-light-color);
    font-weight: 500;
    margin-bottom: 10px;
}
.proced_btn{
    background: var(--main-color);
    color: var(--white-color);
    text-align: center;
    font-size: var(--para-size);
    font-weight: 600;
    padding: 10px 0;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}
.proced_btn:hover{
    background: white;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    transition: 0.5s;
}
