.user_img_sec {
    padding: 3rem 0 3rem 0;
}
.otp_head{
    font-size: var(--heading-h6);
    font-weight: 600;
    color: var(--text-dark-color);
    text-align: center;
    margin-top: 1rem;
}
.otp_box{
    margin-top: 2rem;
}
.proced_btn{
    background: var(--main-color);
    color: var(--white-color);
    text-align: center;
    font-size: var(--para-size);
    font-weight: 600;
    padding: 15px 0;
    width: 100%;
    border: none;
    margin-top: 2rem;
    border-radius: 5px;
}
.proced_btn:hover{
    background: white;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    transition: 0.5s;
}
.agree_btn{
    font-size: var(--small-size);
    font-weight: 500;
    color: var(--text-light-color);
    text-align: center;
    margin-top: 2rem;
}
.agree_btn a{
    color: var(--main-color);
}