<section class="user_select_sec">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <a routerLink="/property_category/rent">
                    <div class="selct_box">
                        <img src="../../assets/images/category/category_rent.svg" alt="user">
                        <h6>{{"Rent" | translate}}</h6>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a routerLink="/property_category/sale">
                    <div class="selct_box">
                        <img src="../../assets/images/category/category_sale.svg" alt="dealer">
                        <h6>{{"Sale" | translate}}</h6>
                    </div>
                </a>
            </div>
        </div>`
    </div>
</section>
