<section class="cont_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="contact_heading">{{"AboutUs" | translate}}</h2>
            </div>
        </div>
    </div>
</section>
<section class="about_section">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h6>{{"aboutContentFull" | translate}}</h6>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>