<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">{{"Uploading" | translate}}...</p>
</ngx-spinner>
<section class="porgress_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="progress_ul">
                    <li class="active">{{"Description" | translate}}
                        <p class="progress_path active"><img src="../../assets/images/header/chat_icon.svg"></p>
                    </li>
                    <li class="active">{{"ImagesLocation" | translate}}
                        <p class="progress_path active"><img src="../../assets/images/header/chat_icon.svg"></p>
                    </li>
                    <li class="active">{{"SpecificationsExtras" | translate}}
                        <p class="progress_path active"><img src="../../assets/images/header/chat_icon.svg"></p>
                    </li>
                    <li>{{"Summary" | translate}}
                        <p class="progress_path active"><img src="../../assets/images/header/chat_icon.svg"></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-10 col-md-10">
                <div class="breadcrumb">
                    <p class="cate_head">
                        <a>{{"Motors" | translate}}
                            <img src="../../assets/images/header/right-arrow.png" width="15px"
                                style="margin:0 5px;"></a>
                        <a>{{cateeName}}
                            <img src="../../assets/images/header/right-arrow.png" width="15px" style="margin:0 5px;">
                        </a>
                        <a *ngIf="subCateeName != undefined">{{subCateeName}}
                            <img src="../../assets/images/header/right-arrow.png" width="15px" style="margin:0 5px;">
                        </a>
                        <a class="normal_link" *ngIf="subSubcateeName != undefined">{{subSubcateeName}}
                            <img src="../../assets/images/header/right-arrow.png" width="15px" style="margin:0 5px;">
                        </a>
                        <a class="normal_link">{{"Summary" | translate}}</a>
                    </p>
                </div>
            </div>
            <div class="col-md-1 col-lg-1"></div>
        </div>
        <div class="row mb-4 mt-2">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-6 col-md-3" *ngFor='let item of imageArray; let i = index'>
                        <p class="text-center"><img class="imgss" src="{{item.url}}"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="back_ul" *ngFor="let item of getPostedData;">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="summary_ul" *ngIf="item.title != null">
                                <li class="tit_left_content">{{'Title' | translate}}</li>
                                <li class="tit_right_content">{{item.title}}</li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.description != null">
                                <li class="tit_left_content">{{"Description" | translate}}</li>
                                <li class="tit_right_content" [innerHTML]="item.description"></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="summary_ul" *ngIf="item.make != null">
                                <li class="left_side_cont">{{"Make" | translate}}</li>
                                <li class="right_side_cont">{{item.make}}</li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.model != null">
                                <li class="left_side_cont">{{"Model" | translate}}</li>
                                <li class="right_side_cont">{{item.model}}</li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.trim != null">
                                <li class="left_side_cont">{{"Trim" | translate}}</li>
                                <li class="right_side_cont">{{item.trim}}</li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.year != null">
                                <li class="left_side_cont">{{"Year" | translate}}</li>
                                <li class="right_side_cont">{{item.year}}</li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.kilometer != null">
                                <li class="left_side_cont">{{"Kilometers" | translate}}</li>
                                <li class="right_side_cont">{{item.kilometer}}</li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.regionalSpecs != null">
                                <li class="left_side_cont">{{"RegionalSpecs" | translate}}</li>
                                <li class="right_side_cont">{{item.regionalSpecs}}</li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.age != null">
                                <li class="left_side_cont">{{"Age" | translate}}</li>
                                <li class="right_side_cont">{{item.age}}</li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.length != null">
                                <li class="left_side_cont">{{"Length" | translate}}</li>
                                <li class="right_side_cont">{{item.length}}</li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.price != null">
                                <li class="left_side_cont">{{"Price" | translate}}</li>
                                <li class="right_side_cont"><img src="assets/images/saudi_riyal_logo.svg"
                                        class="riyal_logo_size"> {{item.price | currency:'':'':'3.0'}}</li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.provinceId != null">
                                <li class="left_side_cont">{{"Province" | translate}}</li>
                                <li class="right_side_cont">{{item.provinceName}}</li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.cityId != null">
                                <li class="left_side_cont">{{"City" | translate}}</li>
                                <li class="right_side_cont">{{item.cityName}}</li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.bodyType != null">
                                <li class="left_side_cont">{{"BodyType" | translate}}</li>
                                <li class="right_side_cont">{{item.bodyType}}</li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.transmissionType != null">
                                <li class="left_side_cont">{{"TransmissionType" | translate}}</li>
                                <li class="right_side_cont">{{item.transmissionType}}</li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.finalDriveSystem != null">
                                <li class="left_side_cont">{{"FinalDriveSystem" | translate}}</li>
                                <li class="right_side_cont">{{item.finalDriveSystem}}</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="summary_ul" *ngIf="item.interiorColor != null">
                                <li class="left_side_cont">{{"InteriorColor" | translate}}</li>
                                <li class="right_side_cont">{{item.interiorColor}}</li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.exteriorColor != null">
                                <li class="left_side_cont">{{"ExteriorColor" | translate}}</li>
                                <li class="right_side_cont">{{item.exteriorColor}}</li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.wheels != null">
                                <li class="left_side_cont">{{"Wheels" | translate}}</li>
                                <li class="right_side_cont">{{item.wheels}}</li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.engineSize != null">
                                <li class="left_side_cont">{{"EngineSize" | translate}}</li>
                                <li class="right_side_cont">{{item.engineSize}}</li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.bodyCondition != null">
                                <li class="left_side_cont">{{"BodyCondition" | translate}}</li>
                                <li class="right_side_cont">{{item.bodyCondition}}</li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.mechanicalCondition != null">
                                <li class="left_side_cont">{{"MechanicalCondition" | translate}}</li>
                                <li class="right_side_cont">{{item.mechanicalCondition}}</li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.cylinders != null">
                                <li class="left_side_cont">{{"NoCylinders" | translate}}</li>
                                <li class="right_side_cont">{{item.cylinders}}</li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.horsePower != null">
                                <li class="left_side_cont">{{"Horsepower" | translate}}</li>
                                <li class="right_side_cont">{{item.horsePower}}</li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.capacity != null">
                                <li class="left_side_cont">{{"CapacityWeight" | translate}}</li>
                                <li class="right_side_cont">{{item.capacity}}</li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.leatherSeat != null && item.mainMotorCategoryId == 1">
                                <li class="left_side_cont">{{"LeatherSeat" | translate}}</li>
                                <li class="right_side_cont">
                                    <span *ngIf="item.leatherSeat == 1">{{"Yes" | translate}}</span>
                                    <span *ngIf="item.leatherSeat == 0">{{"No" | translate}}</span>
                                </li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.parkingSensor != null && item.mainMotorCategoryId == 1">
                                <li class="left_side_cont">{{"ParkingSensor" | translate}}</li>
                                <li class="right_side_cont">
                                    <span *ngIf="item.parkingSensor == 1">{{"Yes" | translate}}</span>
                                    <span *ngIf="item.parkingSensor == 0">{{"No" | translate}}</span>
                                </li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.rearViewCamera != null && item.mainMotorCategoryId == 1">
                                <li class="left_side_cont">{{"RearViewCamera" | translate}}</li>
                                <li class="right_side_cont">
                                    <span *ngIf="item.rearViewCamera == 1">{{"Yes" | translate}}</span>
                                    <span *ngIf="item.rearViewCamera == 0">{{"No" | translate}}</span>
                                </li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.sunRoof != null && item.mainMotorCategoryId == 1">
                                <li class="left_side_cont">{{"SunRoof" | translate}}</li>
                                <li class="right_side_cont">
                                    <span *ngIf="item.sunRoof == 1">{{"Yes" | translate}}</span>
                                    <span *ngIf="item.sunRoof == 0">{{"No" | translate}}</span>
                                </li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.accidentFree != null && item.mainMotorCategoryId == 1">
                                <li class="left_side_cont">{{"AccidentFree" | translate}}</li>
                                <li class="right_side_cont">
                                    <span *ngIf="item.accidentFree == 1">{{"Yes" | translate}}</span>
                                    <span *ngIf="item.accidentFree == 0">{{"No" | translate}}</span>
                                </li>
                            </ul>
                            <ul class="summary_ul" *ngIf="item.warranty != null && item.mainMotorCategoryId == 1">
                                <li class="left_side_cont">{{"Warranty" | translate}}</li>
                                <li class="right_side_cont">
                                    <span *ngIf="item.warranty == 1">{{"Yes" | translate}}</span>
                                    <span *ngIf="item.warranty == 0">{{"No" | translate}}</span>
                                </li>
                            </ul>
                            <ul class="summary_ul"
                                *ngIf="item.fullyMaintained != null && item.mainMotorCategoryId == 1">
                                <li class="left_side_cont">{{"FSH" | translate}}</li>
                                <li class="right_side_cont">
                                    <span *ngIf="item.fullyMaintained == 1">{{"Yes" | translate}}</span>
                                    <span *ngIf="item.fullyMaintained == 0">{{"No" | translate}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="btn_sec">
                    <div class="row">
                        <div class="col-6 col-md-6">
                            <button class="edit_btn" (click)="editPost()">{{"Edit" | translate}}</button>
                        </div>
                        <div class="col-6 col-md-6">
                            <p class="text-end"><button class="submit_btn" (click)="placeAdSubmit()">{{"PlaceAd" |
                                    translate}}</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>