<section class="user_select_sec">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <a (click)="motorClick()">
                    <div class="selct_box">
                        <img src="../../assets/images/category/category_motor.svg" alt="dealer">
                        <h6>{{"Motors" | translate}}</h6>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a (click)="propertyClick()">
                    <div class="selct_box">
                        <img src="../../assets/images/category/category_rent.svg" alt="dealer">
                        <h6>{{"Property" | translate}}</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
