.categ_sec {
    border-bottom: 1px solid var(--border-color);
}

.category_ul {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
}

.motor_categ_filter_ul {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
    margin-top: 10rem;
}

.motor_categ_filter_ul li {
    display: inline-block;
    text-align: center;
    color: var(--black-color);
    font-size: var(--para-size);
    font-weight: 500;
    margin-right: 10px;
    background: var(--white-color);
    padding: 10px 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.motor_categ_filter_ul li.active {
    background: #476A2D;
    color: var(--white-color);
    padding: 10px 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.motorCateg {
    padding-top: 20px;
}

.motorFilter {
    background: #476A2D;
    padding: 15px 0 10px 0;
    border-radius: 10px;
}

.motor_subCateg_ul {
    padding: 0 20px;
    text-align: center;

}

.motor_subCateg_ul li {
    display: inline-block;
    list-style-type: none;
    padding: 5px 10px;
    position: relative;
}

.motor_subCateg_ul li p {
    color: var(--white-color);
    font-size: var(--para-size);
    font-weight: 500;
}

.form-control {
    appearance: auto !important;
    font-size: var(--small-size) !important;
}

.category_ul li {
    display: inline-block;
    text-align: center;
    padding: 15px 4rem;
    font-size: var(--heading-h6);
    font-weight: 500;
    color: var(--text-dark-color);
}

.category_ul li a {
    color: var(--text-dark-color);
    padding: 10px 10px;
}

.category_ul li a.active {
    border-bottom: 5px solid var(--main-color);
    border-radius: 3px;
}

.search_sec {
    /* background: transparent linear-gradient(180deg, #9FCA48 0%, #418153 100%); */
    background: url('../../assets/images/main_saudi.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.search_head {
    font-size: var(--heading-h2);
    font-weight: 600;
    color: #fbfbfbe8;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 0;
    line-height: 1.5;
}

.search_box {
    background: #476A2D;
    box-shadow: 8px 16px 32px #00000029;
    border-radius: 15px;
    padding: 10px 10px 8px 10px;
}

.search_type_box {
    height: 40px !important;
    background: #ABBAA6;
    border: none !important;
}

.search_type_box::placeholder {
    color: var(--text-light-color);
}

.form-control.search_type_box:focus {
    box-shadow: none !important;
    border: 1px solid var(--main-color);
}

.search_btn {
    width: 100%;
    background: var(--main-color);
    padding: 8px 20px;
    color: var(--white-color);
    font-weight: 500;
    font-size: var(--para-size);
    border: none;
    border-radius: 6px;
    box-shadow: 8px 16px 32px #00000029;
    margin-left: 20px;
}

.search_btn:hover {
    background: var(--white-color);
    color: var(--main-color);
    transition: 1s;
    border: 1px solid var(--main-color);
}

.data_show_sec {
    padding: 3rem 0;
}

.data_show_box {
    box-shadow: 2px 6px 12px #00000029;
    border-radius: 5px;
    padding: 10px 0;
    margin: 0 10px;
}

.data_show_box h6 {
    font-size: var(--heading-h6);
    color: #6D6D6D;
    text-align: center;
    font-weight: 600;
}

.data_show_box p {
    font-size: var(--heading-h6);
    color: var(--text-light-color);
    font-size: 500;
    margin-bottom: 0;
    text-align: center;
}

.recent_sec {
    padding: 20px 0 20px 0;
}

.head {
    text-align: left;
    font-size: var(--heading-h3);
    font-weight: 500;
    color: var(--black-color);
    padding-bottom: 20px;
}

.testi_sec {
    padding: 20px 0 80px 0;
}

.testi_box {
    box-shadow: 2px 6px 12px #00000029;
    border-radius: 5px;
    padding: 20px;
    margin: 0 5px;
}

.testi_para {
    font-size: var(--para-size);
    font-weight: 400;
    color: var(--text-light-color);
}

.img_box {
    background: var(--border-color);
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 0;
}

.testi_para_p {
    font-size: var(--para-size);
    font-weight: 400;
    color: var(--text-light-color);
    margin-top: 10px;
    margin-bottom: 0;
}

.prod_box_col {
    width: 20% !important;
}

.prod_box img {
    max-width: 100%;
    height: auto;
}

.prod_box:hover {
    background: var(--white-color);
    box-shadow: 0px 3px 6px #00000029;
    padding: 5px;
    cursor: pointer;
}

.price_det {
    padding: 15px 15px 15px 5px;
}

.price_tag {
    color: var(--main-dark-color);
    font-size: var(--heading-h6);
    font-weight: 600;
    margin-bottom: 8px;
    direction: ltr;
    display: inline-block;
}

.features {
    color: var(--black-color);
    font-size: var(--para-size);
    font-weight: 500;
    margin-bottom: 5px;
}

.locat {
    color: var(--text-color);
    font-size: var(--para-size);
    font-weight: 500;
    margin-bottom: 0;
}

.home_prod_img {
    width: 100%;
    height: 140px !important;
    object-fit: contain;
    border-radius: 10px;
}

.data_show_box a:hover {
    background: var(--white-color);
    box-shadow: 0px 3px 6px #00000029;
    padding: 5px 0 0 0;
    cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 1023px) {
    .prod_box_col {
        width: auto !important;
    }

    .category_ul li {
        padding: 25px 30px;
    }

    .category_ul li a.active {
        border-bottom: none;
        background: var(--main-color);
        color: var(--white-color);
        padding: 10px 30px;
    }

    .data_show_sec {
        padding: 3rem 0 0 0;
    }

    .data_show_box {
        margin: 0 0 30px 0;
    }

    .home_prod_img {
        height: auto !important;
    }

    .prod_box {
        margin-bottom: 20px;
    }

    .recent_sec {
        padding: 20px 0 0 0;
    }

    .motor_categ_filter_ul {
        display: flex;
        overflow-x: scroll;
        margin-top: 9rem;
    }

    .motor_categ_filter_ul li {
        margin-right: 5px;
        white-space: nowrap;
    }

    .motor_subCateg_ul {
        padding: 0 10px;
    }

    .search_sec {
        background-size: contain;
        top: 1rem;
    }

}