<section class="logo_sec">
    <div class="container">
        <div class="row mob_back">
            <div class="col-md-12">
                <a (click)="goBack()"><img src="../../assets/images/header/back-icon.png"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a (click)="home()">
                    <p class="text-center"><img src="../../assets/images/logo.png" width="150px"></p>
                </a>
            </div>
        </div>
    </div>
</section>