.categ_sec {
    border-bottom: 1px solid var(--border-color);
}

.category_ul {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
    position: relative;
    z-index: 1;
}

.category_ul li {
    display: inline-block;
    text-align: center;
    padding: 15px 4rem;
    font-size: var(--heading-h6);
    font-weight: 500;
    color: var(--text-dark-color);
}

.category_ul li a {
    color: var(--text-dark-color);
    padding: 10px 10px;
}

.category_ul li a:hover {
    color: var(--main-color);
    border-bottom: 5px solid var(--main-color);
    border-radius: 3px;
}

.search_sec {
    /* background: transparent linear-gradient(180deg, #9FCA48 0%, #418153 100%); */
    background: url('../../assets/images/main_saudi.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    top: -3rem;
}

.search_head {
    font-size: var(--heading-h3);
    font-weight: 500;
    color: #fbfbfbe8;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 0;
}

.search_box {
    padding: 4rem 20px 0px 20px;
}

.search_type_box {
    height: 45px !important;
    background: #ABBAA6;
    border: none !important;
}

.search_type_box::placeholder {
    color: var(--text-light-color);
}

.form-control.search_type_box:focus {
    box-shadow: none !important;
    border: 1px solid var(--main-color);
}

.search_btn {
    width: 100%;
    background: var(--main-color);
    padding: 8px 20px;
    color: var(--white-color);
    font-weight: 500;
    font-size: var(--para-size);
    border: none;
    border-radius: 6px;
    box-shadow: 8px 16px 32px #00000029;
    margin-left: 20px;
}

.search_btn:hover {
    background: var(--white-color);
    color: var(--main-color);
    transition: 1s;
    border: 1px solid var(--main-color);
}

.search_filter_ul {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
    padding-bottom: 20px;
}

.search_filter_ul li {
    display: inline-block;
    text-align: center;
    color: var(--white-color);
    font-size: var(--para-size);
    font-weight: 500;
    margin-right: 3rem;
}

.search_filter_ul li.active {
    background: #476A2D;
    padding: 10px 20px;
    color: var(--white-color);
    border-radius: 10px;
}

.toggle_switch {
    background: var(--main-dark-color);
    box-shadow: 8px 16px 32px #00000029;
    padding: 20px 10px;
    border-radius: 30px;
    margin: 10rem 20px 40px 0;
    text-align: center;
}

.rent_btn {
    color: var(--white-color);
    font-size: var(--heading-h6);
    font-weight: 500;
    text-align: center;
    padding: 10px 50px;
}

.rent_btn.active {
    background: var(--main-color);
    font-size: var(--heading-h6);
    font-weight: 500;
    text-align: center;
    padding: 10px 50px;
    border-radius: 40px;
}

.category_sec {
    padding: 0px 0 40px 0;
}

.categ_head {
    text-align: center;
    font-size: var(--heading-h3);
    font-weight: 500;
    color: var(--black-color);
}

.categ_box {
    background: var(--white-color);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    padding: 20px;
    margin: 10px;
}

.categ_title {
    font-size: var(--heading-h6);
    font-weight: 600;
    color: var(--black-color);
    margin-bottom: 10px;
}

.categ_title img {
    width: 20px;
    margin-right: 8px;
}

.categ_title img:lang(ar) {
    margin-right: auto;
    margin-left: 8px;
}

.categ_ul {
    padding-left: 0;
    list-style-type: none;
}

.categ_ul:lang(ar) {
    padding-left: 0;
    padding-right: 0;
}

.categ_ul li {
    padding: 7px 0 0 0;
}

.categ_ul li a {
    font-size: var(--para-size);
    font-weight: 500;
    color: var(--text-color);
}

.categ_ul li a:hover {
    color: var(--main-color);
}

.categ_ul li.all_categ_link a {
    color: var(--main-dark-color);
    font-weight: 600;
    font-size: var(--para-size);
}

.categ_ul li.all_categ_link .mat-icon {
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
}

.categ_ul li.all_categ_link a:hover .mat-icon {
    transition: .2s;
    margin-left: 5px;
}

.recent_sec {
    padding: 20px 0 20px 0;
}

.head {
    text-align: center;
    font-size: var(--heading-h3);
    font-weight: 500;
    color: var(--black-color);
    padding-bottom: 20px;
}

.prod_box:hover {
    background: var(--white-color);
    box-shadow: 0px 3px 6px #00000029;
    padding: 3px;
    cursor: pointer;
}

.price_det {
    padding: 15px 15px 15px 5px;
}

.price_tag {
    color: var(--main-dark-color);
    font-size: var(--heading-h6);
    font-weight: 600;
    margin-bottom: 8px;
    direction: ltr;
}

.features {
    color: var(--black-color);
    font-size: var(--para-size);
    font-weight: 500;
    margin-bottom: 5px;
}

.locat {
    color: var(--text-color);
    font-size: var(--para-size);
    font-weight: 500;
    margin-bottom: 0;
}

.home_prod_img {
    height: 140px !important;
    object-fit: cover;
    border-radius: 10px;
}

.motor_categ_filter_ul {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
}

.motor_categ_filter_ul li {
    display: inline-block;
    text-align: center;
    color: var(--black-color);
    font-size: var(--para-size);
    font-weight: 500;
    margin-right: 10px;
    background: var(--white-color);
    padding: 10px 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.motor_categ_filter_ul li.active {
    background: #476A2D;
    color: var(--white-color);
    padding: 10px 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.property_categ_filter_ul {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
}

.property_categ_filter_ul li {
    display: inline-block;
    text-align: center;
    color: var(--black-color);
    font-size: var(--para-size);
    font-weight: 500;
    margin-right: 10px;
    background: var(--white-color);
    padding: 10px 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.property_categ_filter_ul li.active {
    background: #476A2D;
    color: var(--white-color);
    padding: 10px 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.motorCateg {
    padding-top: 20px;
}

.motorFilter {
    background: #476A2D;
    padding: 15px 0 10px 0;
    border-radius: 10px;
}

.motor_subCateg_ul {
    padding: 0 20px;
    text-align: center;

}

.motor_subCateg_ul li {
    display: inline-block;
    list-style-type: none;
    padding: 5px 10px;
    position: relative;
}

.motor_subCateg_ul li p {
    color: var(--white-color);
    font-size: var(--para-size);
    font-weight: 500;
}

.form-control {
    appearance: auto !important;
    font-size: var(--small-size) !important;
}

/* .prod_box_col{
    width: 20% !important;
} */
.text_set {
    font-size: var(--small-size);
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 185px;
    background: var(--white-color);
    color: var(--black-color);
    padding: 9px 30px 9px 20px;
    border-radius: 6px;
    margin-right: 0px;
}

.drop_icon {
    display: block;
    position: absolute;
    top: 2.45rem;
    right: 10px;
    margin: 0 0 0 10px;
}

.drop_icon img {
    width: 10px;
    height: 6px;
    display: block;
}

.dropdown_content {
    position: absolute;
    width: 420px;
    padding: 0px;
    border-radius: 8px;
    margin-top: 8px;
    margin-left: -50px;
    visibility: visible;
    z-index: 52;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
}

.form_box {
    padding: 15px;
}

label {
    margin-bottom: 10px;
    color: var(--text-color);
    font-size: var(--small-size);
}

.popu_ul {
    padding-left: 0;
    display: flex;
}

.popu_ul li {
    padding: 0 8px;
    list-style: none;
}

@media only screen and (min-width: 320px) and (max-width: 1023px) {
    .categ_sec {
        display: none;
    }

    .category_sec {
        padding: 40px 0 0 0;
    }

    .popu_ul {
        overflow-x: scroll;
    }

    .prod_box {
        width: max-content;
        margin-bottom: 20px;
    }

    .recent_sec {
        padding: 20px 0 0 0;
    }

    .rent_btn.active {
        padding: 10px 30px;
    }

    .search_box {
        padding: 20px 10px 0 10px;
    }

    .motor_categ_filter_ul {
        display: flex;
        overflow-x: scroll;
    }

    .motor_categ_filter_ul li {
        margin-right: 5px;
        white-space: nowrap;
    }

    .motor_subCateg_ul {
        padding: 0 10px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .search_sec {
        background-size: contain;
        top: 1rem;
    }

    .toggle_switch {
        margin: 8rem 20px 20px 0;
    }
}