.categ_sec {
    border-bottom: 1px solid var(--border-color);
}

.category_ul {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
}
.category_ul li {
    display: inline-block;
    text-align: center;
    padding: 15px 4rem;
    font-size: var(--heading-h6);
    font-weight: 500;
    color: var(--text-dark-color);
}

.category_ul li a {
    color: var(--text-dark-color);
    padding: 10px 10px;
}
.category_ul li a:hover {
    color: var(--main-color);
    border-bottom: 5px solid var(--main-color);
    border-radius: 3px;
}
.my_ad_head{
    font-size: var(--heading-h3);
    font-weight: 600;
    color: var(--black-color);
    padding-left: 20px;
    margin-bottom: 0;
}
.notifyList{
    padding: 10px 0 20px 0;
}
.notify_sec{
    border-bottom: 1px solid var(--border-color);
    padding: 10px 20px;
}
.notify_sec .head{
    font-size: var(--heading-h6);
    font-weight: 600;
    color: var(--text-dark-color);
    margin-bottom: 5px;
}
.notify_sec .head span{
    font-size: var(--para-size);
    color: var(--text-light-color);
}
.notify_sec .msg{
   margin-bottom: 0;
}
.no_notify{
    text-align: center;
    font-size: var(--heading-h6);
    font-weight: 500;
    color: var(--text-dark-color);
}
.clear_btn{
    text-align: end;
    font-size: var(--heading-h5);
    font-weight: 600;
    color: red;
}
.clear_btn:hover{
    cursor: pointer;
    color: var(--main-color);
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .category_ul li {
        padding: 25px 2rem;
    }
    .mt-3{
        margin-top: 0px !important;
    }
    .cont_btn{
        top: 5px;
    }
    .btn_ul{
        padding-left: 3rem;
    }
    .btn_ul li{
        display: inline-block;
        margin-left: 1rem;
    }
    .mb-4{
        margin-bottom: 0px !important;
        border-bottom: 1px solid var(--border-color);
    }
}