.categ_sec {
    border-bottom: 1px solid var(--border-color);
}

.category_ul {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
}

.category_ul li {
    display: inline-block;
    text-align: center;
    padding: 15px 4rem;
    font-size: var(--heading-h6);
    font-weight: 500;
    color: var(--text-dark-color);
}

.category_ul li a {
    color: var(--text-dark-color);
    padding: 10px 10px;
}

.category_ul li a:hover {
    color: var(--main-color);
    border-bottom: 5px solid var(--main-color);
    border-radius: 3px;
}

.my_ad_head {
    font-size: var(--heading-h3);
    font-weight: 600;
    color: var(--black-color);
    padding-left: 20px;
}

.accordion {
    margin: 20px 0 40px 0;
}

.accordion-item {
    border: none;
    background: transparent;
}

.accordion-button:focus {
    border: none;
    box-shadow: none;
}

.accordion-button {
    background: var(--accord-color);
    padding: 10px 1.5rem;
    margin-bottom: 10px;
    border-radius: 10px;
}

.accordion-button::after {
    background-image: none;
}

.accordion-button:not(.collapsed) {
    color: var(--text-dark-color);
    font-size: var(--heading-h6);
    font-weight: 500;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.img_class {
    width: 100%;
    object-fit: contain;
    height: 120px;
    border-radius: 15px;
}

.post_status .draft {
    background: #878787;
    color: var(--white-color);
    font-size: var(--small-size);
    padding: 3px 10px;
    border-radius: 8px;
    margin-right: 10px;
}

.post_status .live {
    background: var(--main-color);
    color: var(--white-color);
    font-size: var(--small-size);
    padding: 3px 10px;
    border-radius: 8px;
    margin-right: 10px;
}

.post_status .refresh {
    background: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    font-size: var(--small-size);
    padding: 3px 10px;
    border-radius: 8px;
    margin-right: 10px;
}

.post_heading {
    font-size: var(--heading-h6);
    font-weight: 500;
    margin-bottom: 5px;
}

.post_heading a {
    color: var(--text-dark-color);
}

.post_heading a:hover {
    color: var(--main-color);
}

.post_amt {
    font-size: var(--para-size);
    color: var(--text-light-color);
    font-weight: 500;
    margin-bottom: 5px;
    direction: ltr;
    display: table;
}

.post_amt .riyal_logo_size {
    width: 10px;
}

.post_amt span {
    padding-left: 20px;
}

.edit_btn {
    background: transparent;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    font-size: var(--small-size);
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 4px;
}

.edit_btn:hover {
    background: var(--main-color);
    border: none;
    color: var(--white-color);
}

.cont_btn {
    position: relative;
    top: 2rem;
}

.mat-menu-panel {
    max-width: 100% !important;
    font-weight: 500;
    margin-top: 10px;
}

.mat-menu-item:hover:not([disabled]) {
    background: transparent;
}

.cancel_btn {
    background: transparent;
    border: none;
    color: var(--text-color-1);
    padding-right: 15px;
}

.confirm_btn {
    background: var(--main-color)transparent;
    border: none;
    color: red;
}

.btn_ul {
    padding-left: 0;
}

.btn_ul li {
    list-style: none;
    text-align: end;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .category_ul li {
        padding: 25px 2rem;
    }

    .mt-3 {
        margin-top: 0px !important;
    }

    .cont_btn {
        top: 5px;
    }

    .btn_ul {
        padding-left: 3rem;
    }

    .btn_ul li {
        display: inline-block;
        margin-left: 1rem;
    }

    .mb-4 {
        margin-bottom: 0px !important;
        border-bottom: 1px solid var(--border-color);
    }
}